*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body{
	background-image:url(../assets/img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
    height: auto;
}
nav{
	max-width: 900px;
	margin: auto;
	background-color: #333;
	font-size: 20px;
	margin-top: 20px;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	
}
.menu-horizontal > li:hover{
	background-color: rgb(74, 113, 165);
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(158, 147, 147, 0.5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
	z-index: 9999;

}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

#html{
	margin: auto;
	padding: 20px;
	max-width: 900px;
	background: white;

}